*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f6f3e9;
}

.navbar{
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.logo{
    color:#2d6a4f;
    font-size:22px;
    font-weight:700;
}

.navbar ul{
    display:flex;
    gap:20px;
    list-style:none;
}

.navbar a{
    text-decoration:none;
    color:#333;
}

.hero{
    text-align:center;
    padding:70px 20px;
}

.hero h1{
    color:#2d6a4f;
    margin-bottom:15px;
}

.artikel-container{
    padding:30px 8%;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:25px;
}

.artikel-card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
    transition:.3s;
}

.artikel-card:hover{
    transform:translateY(-8px);
}

.artikel-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.content{
    padding:20px;
}

.content h3{
    color:#2d6a4f;
    margin-bottom:10px;
}

.content p{
    margin-bottom:15px;
    line-height:1.6;
}

.content button{
    border:none;
    background:#ff7b00;
    color:white;
    padding:10px 20px;
    border-radius:10px;
    /* cursor:pointer;  mengubah ikon panah, ikon tangan   */
}

footer{
    margin-top:50px;
    background:#2d6a4f;
    color:white;
    text-align:center;
    padding:25px;
}

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .navbar ul{
        flex-wrap:wrap;
        justify-content:center;
    }

}